@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
}
.layout {
  @apply w-full h-full justify-center items-center;
}
.home {
  @apply flex flex-wrap-reverse items-center w-full h-fit justify-between my-20;
}
.header {
  @apply flex w-full 
  items-center
  h-[80px] 
  sm:px-4
  md:px-10 
  lg:px-20 
  xl:px-40 
  overflow-hidden 
  shadow-md 
  py-4 
  justify-between
  sticky
  top-0
  bg-white-0;
}

.home-sub-containers {
  @apply sm:w-full my-[30px] sm:text-center md:w-1/2 lg:w-1/2 xl:w-1/2 h-fit flex flex-col gap-4;
}

.caption {
  @apply flex sm:px-[10%] md:text-start lg:text-start xl:text-start text-dark-1;
}

.my-name {
  @apply text-dark-0 font-bold sm:text-h2 md:text-h2 lg:text-h1 xl:text-h1;
}

.title {
  @apply text-primary text-h2 sm:text-[25px] md:text-[25px] lg:text-h2 xl:text-h2;
}
