@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
}
.layout {
  @apply w-full h-full justify-center items-center bg-white-0 pb-10;
}
.home {
  @apply flex flex-wrap-reverse items-center w-full h-fit justify-between my-20;
}
.header {
  @apply flex w-full 
  items-center
  h-[80px] 
  sm:px-4
  md:px-10 
  lg:px-20 
  xl:px-40 
  overflow-hidden 
  shadow-md 
  py-4 
  justify-between
  sticky
  top-0
  bg-white-0 z-30;
}

.home-sub-containers {
  @apply sm:w-full my-[30px] sm:text-center md:w-1/2 lg:w-1/2 xl:w-1/2 h-fit flex flex-col gap-4;
}

.caption {
  @apply flex sm:px-[10%] md:text-start lg:text-start xl:text-start text-dark-1;
}

.my-name {
  @apply text-dark-0 font-bold sm:text-h2 md:text-h2 lg:text-h1 xl:text-h1;
}

.title {
  @apply text-primary text-h2 sm:text-[25px] md:text-[25px] lg:text-h2 xl:text-h2;
}

.resume-btn {
  @apply flex items-center shadow gap-2 pl-6 p-2 bg-gradient-to-r from-primary to-[#AC00B0] text-white-0 px-4 rounded-3xl;
}

.contact-btn {
  @apply flex  items-center mt-4 shadow gap-2 pl-6 p-3 bg-gradient-to-r from-primary to-[#8384E8] text-white-0 px-2 rounded-xl;
}

.stack-container {
  @apply flex flex-col items-center w-full gap-[30px] xs:px-[10%] sm:px-[10%];
}

.tect-stack-container {
  @apply flex w-full flex-wrap gap-4 items-center justify-center;
}

.teck-stack {
  @apply w-full;
}

.section-title {
  @apply text-primary font-bold text-h3;
}

.card {
  @apply flex gap-2 xs:w-full sm:w-full md:w-[40%] lg:w-[30%] xl:w-[30%] h-[100px] bg-white-1 p-2 border rounded-md;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.15);
}
